{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3{
    text-align: center;
  }
    #errors1{font-size: 14px; position:absolute;top:59px;left: 48px; font-weight: 500; }
    #errors2{font-size: 14px; position:absolute;top:78px;left: 48px;margin-bottom: 20px;font-weight: 500;}
    .lg_form{position:relative; background:#77BDE0; height:420px; width:350px;margin: 40px 20px 0 0;padding:20px;border-radius: 5px;}
    .lg_form p{color:#000;font-family: 'Molengo', sans-serif; font-size: 22px;font-weight: 700; text-align:center; margin-bottom:40px;}
    .lg_form label{font-size: 14px;color:#000;}
    .lg_form input{width:250px; margin-bottom: 20px; border-radius: 22px; padding:10px;}
    .lg_form a{padding-top:0; float:right; margin:-20px 48px 30px 0; cursor: pointer !important; }
    .sub_btn{padding:0px 43px; }
    .sub_btn button{background:#fff; color:#000; border-radius:22px; padding:6px 26px; text-align: center !important;margin:30px;outline: none !important;}

    @media only screen and (max-width: 767px) {
      header{padding: 20px !important;}
      #logo img{width: 50% !important; padding: 0; margin-left:-10px;}
      .bg-1{height:auto !important;}
      #logo{margin:0 !important;}
      .lg_btn{ margin: -34px 0px;}
      .pass_res{margin-left: -37px !important;}
      #errors1 ,#errors2{left:48px !important;}
      .sub_btn{padding: 0px 58px;}
      .lg_form{width: auto !important;margin: 20px 0px !important; height: auto !important;}
    }

    @media screen and (orientation:landscape)
        and (min-device-width: 400px) and (max-width: 767px){
          header{padding:10px !important;}
          #logo img{width:37% !important;}
          .lg_btn {margin: -40px 64px !important;}
          .lg_form{width:350px !important;height: auto !important; margin-left: 10px !important;
}}

        

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
      #logo img{width:28% !important;}
      .lg_btn{margin: -56px 125px;}
  }
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    #logo img {width:25%;}
    .lg_btn{    margin: -57px 160px;}

  }

</style>

{% if validlink %}
<div class="container">
<div class="lg_form">
<p>Change password</p>
<form method="POST" class="form-signin" action="{% url 'jaro_student_portal_app:password_reset_confirm' %}" onsubmit="Validation()">
  {% csrf_token %}

  <!-- <h1 class="h3 mb-3 font-weight-normal">Reset password</h1> -->
  
  <input name="candidate_id" class="form-control" placeholder="Candidate ID" type="hidden" id="candidate_id" value="{{token}}">
  <span id="errors1" style="color: red; font-size:14px; font-weight:bolder;"> 
  </span>
  <span id="errors2" style="color: red; font-size:14px; font-weight:bolder;"> 
  </span>

    <div class="row pass_res" style="margin-top: 13px; margin-left: -19px;">
      <div class="col-md-12 col-sm-12 form-group row" style="margin-bottom:0px;padding-left:60px;">
      <label for="id_new_password1">New password:</label> 
      <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required="" id="id_new_password1">
      <span class="helptext"></span>
    </div>
  
    
      <div class="col-md-12 col-sm-12 form-group row" style="margin-bottom:0px;padding-left:60px;">
    
      <label for="id_new_password2">New password confirmation:</label> 
      <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control" id="id_new_password2">
    </div>
    <div class="sub_btn">
  <button class="btn" type="submit">Change password</button>  
  </div>
</div>
</form>
</div>
</div>
{% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
{% endif %}


<script>
    function Validation() {

        

        var pass1 = $("#id_new_password1").val()
        var pass2 = $("#id_new_password2").val()
        if (pass1 != pass2) {
        /*    var node = document.createElement("H4");
            var textnode = document.createTextNode("The two password fields didn’t match.");
            node.appendChild(textnode);
        
            document.getElementById("errors").appendChild(node);*/
            console.log(pass1 +"  "+pass2)
            document.getElementById("errors1").innerHTML = "The two password fields didn’t match."
            event.preventDefault();
        }
        else {
            document.getElementById("errors1").innerHTML = ""
        }
        if (pass1.length < 8 || pass2.length < 8 ) {
        /*    var node = document.createElement("H4");
            var textnode = document.createTextNode("Your password must contain at least 8 characters");
            node.appendChild(textnode);
        
            document.getElementById("errors").appendChild(node);*/
            document.getElementById("errors2").innerHTML = "Your password must contain at least 8 characters"
            event.preventDefault();

        }
        else {
            document.getElementById("errors2").innerHTML = ""
        }
       
        
      }
    
</script>
{% endblock %}

