{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3{
    text-align: center;
  }
</style>

{% if validlink %}
<h3>Change password</h3>
<form method="POST" class="form-signin" action="{% url 'jaro_student_portal_app:password_reset_confirm' %}" onsubmit="Validation()">
  {% csrf_token %}

  <!-- <h1 class="h3 mb-3 font-weight-normal">Reset password</h1> -->
  <input name="candidate_id" class="form-control" placeholder="Candidate ID" type="hidden" id="candidate_id" value="{{token}}">
  <p id="errors1" style="color: red;"> 
    </p>
  <p id="errors2" style="color: red;"> 
    </p>

  <p>
      <label for="id_new_password1">New password:</label> 
      <input type="text" name="new_password1" autocomplete="new-password" class="form-control" required="" id="id_new_password1">
      <span class="helptext"></span>
    </p>
  <p>
      <label for="id_new_password2">New password confirmation:</label> 
      <input type="text" name="new_password2" autocomplete="new-password" required="" class="form-control" id="id_new_password2">
    </p>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>  
</form>
{% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
{% endif %}


<script>
    function Validation() {

        

        var pass1 = $("#id_new_password1").val()
        var pass2 = $("#id_new_password2").val()
        if (pass1 != pass2) {
        /*    var node = document.createElement("H4");
            var textnode = document.createTextNode("The two password fields didn’t match.");
            node.appendChild(textnode);
        
            document.getElementById("errors").appendChild(node);*/
            console.log(pass1 +"  "+pass2)
            document.getElementById("errors1").innerHTML = "The two password fields didn’t match."
            event.preventDefault();
        }
        else {
            document.getElementById("errors1").innerHTML = ""
        }
        if (pass1.length < 8 || pass2.length < 8 ) {
        /*    var node = document.createElement("H4");
            var textnode = document.createTextNode("Your password must contain at least 8 characters");
            node.appendChild(textnode);
        
            document.getElementById("errors").appendChild(node);*/
            document.getElementById("errors2").innerHTML = "Your password must contain at least 8 characters"
            event.preventDefault();

        }
        else {
            document.getElementById("errors2").innerHTML = ""
        }
       
        
      }
    
</script>
{% endblock %}

